.navLink-active{
    border-bottom: 2px solid #632EE3;
    font: bold;
}

.simple-gardient{
    background: linear-gradient(to right,#632EE3,#9F62F2);
    -webkit-background-clip: text;
    color: transparent;
}


.gardient{
    background: linear-gradient(to right,#632EE3,#9F62F2);
   color: white;
}